
body{
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    background-color: blueviolet;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.logo{
    width: 120px;
    height: 120px;
    margin-left:30px;
}
.navbar h1{
    margin-left: -15px;
    color: white;
    text-align: 'center';
}
.navbar h1:hover{
    cursor: pointer;
}
.search{
    width: 500px;
    height: 30px;
    margin-left: 50px;
    border-radius: 10px;
    font-size: large;
    border: none;
    padding-left: 5px;
}
.searchButton{
    height: 40px;
    width: 100px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: auto;
    padding-bottom: auto;     
}
ul{
    width: 30%;
    margin-right: -10%;
}

ul li{
    display: inline-block;
    list-style: none;
    font-size: medium;
    color: white;
    margin-left: 3%;
}
ul li a{
    word-spacing: 0.01em;
    color: rgb(191, 191, 191);
    transition: 0.5s;
}
ul li a:hover{
    color: white;
    cursor: pointer;
}
.eventAddContainer {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    box-shadow: 0cap 4px 8px rgba(0, 0, 0, 0.306);
    width: 500px;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 110%;
    align-items: center;
    
}

.eventForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.eventForm input, .eventForm textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.eventForm textarea {
    resize: vertical;
    height: 100px;
}

.eventForm button {
    padding: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.eventForm button:hover {
    background-color: #6a1fb5;
}
.eventForm input{
    border-radius: 15px;
}