body{
    margin: 0;
    padding: 0;
}
.page{
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
}
.header{
    display: flex;
    width: 1300px;
    height: 700px;
    border-radius: 50px;
    background-color:rgba(0, 0, 0, 0.041);  
    margin-left: 20%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.263);
}
.info{
    border-radius: 45px;
    background-color: blueviolet;
    width: 500px;
    height: 700px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.553);    
}
.login{
    display: flex;
    margin-top: 25px;
    margin-left: 50px;
    width: 450px;
    height: 650px;
    background-color: aliceblue;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.263);
}
.login form{
    width: 300px;
    height: 600px;
}
.username{
    border-radius: 10px;
    height: 20px;
    width: 200px;
    max-width: 200px;
    margin-top: 245px;
    text-align: center;
    padding-left: 10px;
    border: 1px solid rgb(113, 113, 113);
    margin-left: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.password{
    display: flex;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    padding-left: 10px;
    border: 1px solid rgb(113, 113, 113);

}
.loginButton{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 30px;
    max-width: 80px;
    border: 1px solid black;
    margin-top: 5px;
    font-size: small;
}

.forgotPassword{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: smaller;
    height: 30px;
    width: 80px;
    margin-top: 15px;
    text-align: center;
    color: rgb(48, 48, 48);
}
.forgotPassword:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.createAccount{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: smaller;
    margin-top: 15px;
    height: 30px;
    width: 80px;
    margin-top: 10px;
    text-align: center; 
    color: rgb(48, 48, 48);
}
.createAccount:hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.loginGoogleButton{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: small;
    height: 20px;
    width: 200px;
    justify-content: center;
    align-items:center;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid gray;
}
.descriptionHeader{
    color: aliceblue;
    font-size: x-large;
    margin-left: 25px;
}
.description{
    display: flex;
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 20px;
    color: rgb(211, 211, 211);
    font-size: 15px;
}
.descriptionP{
    display: flex;
    margin-top: -20px;
    margin-right: 0px;
    color: rgb(211, 211, 211);
    font-size: 15px;
}

.info ul {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: -100px;
}

.info ul li {
    color: white;
}

.info ul li::marker {
    color: white;
}
.createİnputOne{
    display: block;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    text-align: center;
    padding-left: 10px;
    border: 1px solid rgb(113, 113, 113);
}
.createİnputTwo{
    display: block;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    text-align: center;
    padding-left: 10px;
    border: 1px solid rgb(113, 113, 113);
}
.createPassword{
    display: block;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    text-align: center;
    padding-left: 10px;
    border: 1px solid rgb(113, 113, 113);
}
.buttonSignUp{
    margin-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 120px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}
.labelRadio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: small;
    height: 20px;
    width: 200px;
    max-width: 100px;
    text-align: center;
    padding-left: 10px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 10px;
    color: rgb(48, 48, 48);     
}
